
project_management/db.sqlite3
project_management/project_management/__pycache__/__init__.cpython-312.pyc
project_management/project_management/__pycache__/wsgi.cpython-312.pyc
project_management/project_management/__pycache__/urls.cpython-312.pyc
project_management/project_management/__pycache__/settings.cpython-312.pyc
*.pyc
*.sqlite3
project_management/db.sqlite3
