{% extends 'project_base.html' %}
{% block title %}Members List{% endblock %}
{% block content %}

<div class="card w-full p-6 bg-base-100 shadow-xl mt-2">
    <div class="text-xl font-semibold mb-4">Members List</div>
    <div class="overflow-x-auto w-full">
        <table class="table w-full">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Joined On</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                <tr>
                    <td>{{ member.username }}</td>
                    <td>{{ member.email }}</td>
                    <td>{{ member.get_role_display }}</td>
                    <td>{{ member.date_joined|date:"d M Y" }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No members found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
