
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="max-w-lg mx-auto mt-10">

</div>
<div class="min-h-screen bg-base-200 flex items-center">
  <div class="card mx-auto w-full max-w-5xl  shadow-xl">
    <div class="grid  md:grid-cols-2 grid-cols-1  bg-base-100 rounded-xl">
      <div class="">
        <div class="hero min-h-full rounded-l-xl bg-base-200">
          <div class="hero-content py-12">
            <div class="max-w-md">
              <div class="flex justify-center align-center">
                <img src="{% static 'logo/logo.png' %}" class="w-12 inline-block mr-2 mask mask-circle"
                  alt="dashwind-logo">
                <h1 class="text-3xl text-center mt-2 font-bold ">
                  Omnia
                </h1>
              </div>
              <div class="text-center mt-12">
                <img src="{% static 'images/login.png' %}" alt="Omnia Pic" class="w-60 inline-block">
              </div>
              <div class="mb-10 text-center">
                <h1 class="text-2xl mt-8 font-bold">
                  Welcome to Omnia!
                </h1>
                <p class="py-2 mt-4">
                    Start managing your project faster and better
                </p>
                <p class="py-2">
                    Start managing your project faster and better
                </p>
              </div>
              <div>
                <!-- Slider indicators -->
                <div class="flex justify-center gap-5">
                    <button type="button" class="w-2 h-2 rounded-full bg-black" ></button>
                    <button type="button" class="w-2 h-2 rounded-full bg-gray-500" ></button>
                    <button type="button" class="w-2 h-2 rounded-full bg-gray-500" ></button>
                    <button type="button" class="w-2 h-2 rounded-full bg-gray-500" ></button>
                    <button type="button" class="w-2 h-2 rounded-full bg-gray-500" ></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-24 px-10">
        <h2 class="text-2xl font-semibold mb-2 text-center">
          Register
        </h2>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
          <p class="text-center  text-error mt-8">
          </p>
          <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded">Register</button>
          <div class="text-center mt-4">
            Already have an account?
            <a href="/users/login">
              <span class="  inline-block  hover:text-primary hover:underline hover:cursor-pointer transition duration-200">
                 Login
              </span>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
