{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}
<div class="grid md:grid-cols-2 grid-cols-1 min-h-screen bg-base-100 rounded-xl">
  <div class="">
    <div class="hero min-h-full rounded-l-xl bg-base-200">
      <div class="hero-content py-12">
        <div class="max-w-md">
          <div class="flex justify-center align-center">
            <img src="{% static 'logo/logo.png' %}" class="w-12 inline-block mr-2 mask mask-circle"
              alt="dashwind-logo">
            <h1 class="text-3xl text-center mt-2 font-bold ">
              Omnia
            </h1>
          </div>
          <div class="text-center mt-12">
            <img src="{% static 'images/login.png' %}" alt="Omnia Pic" class="w-60 inline-block">
          </div>
          <div class="mb-10 text-center">
            <h1 class="text-2xl mt-8 font-bold">
              Welcome to Omnia!
            </h1>
            <p class="py-2 mt-4">
                Start managing your project faster and better
            </p>
            <p class="py-2">
                Start managing your project faster and better
            </p>
          </div>
          <div>
            <!-- Slider indicators -->
            <div class="flex justify-center gap-5">
                <button type="button" class="w-2 h-2 rounded-full bg-black" ></button>
                <button type="button" class="w-2 h-2 rounded-full bg-gray-500" ></button>
                <button type="button" class="w-2 h-2 rounded-full bg-gray-500" ></button>
                <button type="button" class="w-2 h-2 rounded-full bg-gray-500" ></button>
                <button type="button" class="w-2 h-2 rounded-full bg-gray-500" ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 gap-4 content-center">
    <h2 class="text-2xl font-semibold mt-10 mb-5 text-center">
      Create an account
    </h2>
    <div class="w-8/12 mx-auto">
      <form method="POST">
      {% csrf_token %}
      <div class="grid grid-cols-2 gap-4">
        <div class="col-span-1">
          <label class="input input-bordered flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="text-primary h-5 w-5 opacity-70">
              <path
                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
            </svg>
             {{ form.first_name|add_class:"w-full"|attr:"placeholder:First name" }}
            </label>
            {% if form.first_name.errors %}
                <p class="text-sm text-red-500 mt-1">
                    {{ form.first_name.errors|striptags }}
                </p>
            {% endif %}
        </div>
        <div class="col-span-1">
          <label class="input input-bordered flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="text-primary h-5 w-5 opacity-70">
              <path
                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
            </svg>
             {{ form.last_name|add_class:"w-full max-w-xs"|attr:"placeholder:Last name" }}
          </label>
            {% if form.last_name.errors %}
                  <p class="text-sm text-red-500 mt-1">
                      {{ form.last_name.errors|striptags }}
                  </p>
              {% endif %}
        </div>
         <div class="col-span-1">
           <label class="input input-bordered flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="text-primary h-5 w-5 opacity-70">
              <path
                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
            </svg>
             {{ form.email|add_class:"w-full"|attr:"placeholder:Email" }}
           </label>
             {% if form.email.errors %}
                  <p class="text-sm text-red-500 mt-1">
                      {{ form.email.errors|striptags }}
                  </p>
              {% endif %}
        </div>
        <div class="col-span-1">
          <label class="input input-bordered flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="text-primary h-5 w-5 opacity-70">
              <path
                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
            </svg>
             {{ form.username|add_class:"w-full"|attr:"placeholder:Username" }}
          </label>
            {% if form.username.errors %}
                  <p class="text-sm text-red-500 mt-1">
                      {{ form.username.errors|striptags }}
                  </p>
              {% endif %}
        </div>
        <div class="col-span-2">
          <label class="input input-bordered flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="text-primary  h-5 w-5 opacity-70">
              <path
                fill-rule="evenodd"
                d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
                clip-rule="evenodd" />
            </svg>
             {{ form.password1|add_class:"w-full"|attr:"placeholder:Enter your password" }}
          </label>
            <h6 class="text-xs text-gray-500 ml-3 mt-1">{{ form.password1.help_text }}</h6>
              {% if form.password1.errors %}
                  <p class="text-sm text-red-500 mt-1">
                      {{ form.password1.errors|striptags }}
                  </p>
              {% endif %}
        </div>
        <div class="col-span-2">
          <label class="input input-bordered flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="text-primary  h-5 w-5 opacity-70">
              <path
                fill-rule="evenodd"
                d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
                clip-rule="evenodd" />
            </svg>
             {{ form.password2|add_class:"w-full"|attr:"placeholder:Confirm password" }}
          </label>
          <h6 class="text-xs text-gray-500 ml-3 mt-1">{{ form.password2.help_text }}</h6>
            {% if form.password2.errors %}
                  <p class="text-sm text-red-500 mt-1">
                      {{ form.password2.errors|striptags }}
                  </p>
              {% endif %}
        </div>
      </div>
       <div class="form-control flex flex-row justify-start my-2">
        <label class="label cursor-pointer ">
          <input type="checkbox" checked="checked" class="checkbox" />
          <span class="ml-2 text-sm">I agree to <span>Terms & Conditions</span></span>
        </label>
      </div>
      <button type="submit" class="btn btn-primary mt-5 w-full text-white">Register</button>
      <div class="text-center mt-4">
        Already have an account?
        <a href="/users/login">
          <span class="  inline-block  hover:text-primary hover:underline hover:cursor-pointer transition duration-200">
             Login
          </span>
        </a>
      </div>
    </form>
    </div>
  </div>
</div>

{% endblock %}
